@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400&family=Noto+Sans:wght@300&family=Open+Sans:wght@300;400;500;600;700;800&family=Prompt:wght@200&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
$defaultfont : "Open Sans", sans-serif;
$defaultcolor:    #5F5F5F;
$defaultblue:     #108AC1;
$defaultgray:     #909090;
$defaultH2sizeMob: 30px;
$defaulH2sizeTab:  30px;
$defaulH2sizeDes:  30px;
$iconsizeMob:      60px;
$iconsizaTab:      70px;
$iconsizeDes:      76px;
$mediasizeMob:     200px;
$meidasizeTab:     500px;
$mediasizeDes:     1000px;

